<a href="https://colab.research.google.com/github/Advaitt19/Hello-world/blob/main/Ada_Boost_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('star_classification.csv')

In [4]:
data.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812.0,56354.0,171.0
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445.0,58158.0,427.0
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576.0,55592.0,299.0
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149.0,58039.0,775.0
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121.0,56187.0,842.0

In [5]:
data = data.drop(columns=["obj_ID","spec_obj_ID","run_ID", "rerun_ID", "cam_col", "field_ID", "plate", "MJD", "fiber_ID"])

In [8]:
data.head()
data.isnull().sum()

alpha       0
delta       0
u           0
g           0
r           0
i           0
z           0
class       0
redshift    0
dtype: int64

In [7]:
data.dropna(inplace= True)

In [10]:
X = data.drop("class", axis=1)
y = LabelEncoder().fit_transform(data["class"])

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,stratify = y ,test_size=0.2,random_state=42)

In [18]:
Ada = AdaBoostClassifier(n_estimators=100,random_state=42)
Model_Ada= Ada.fit(X_train,y_train)

In [19]:
y_pred_base = Model_Ada.predict(X_test)

In [21]:
accuracy_base = accuracy_score(y_test,y_pred_base)
print(accuracy_base)

0.939297124600639

In [31]:
standard = StandardScaler()
X_train_scaled = standard.fit_transform(X_train)
X_test_scaled = standard.transform(X_test)

In [32]:
Ada_S = AdaBoostClassifier(n_estimators=100,random_state=42)
Model_Ada_s= Ada_S.fit(X_train_scaled,y_train)

In [33]:
y_pred_base_scaled = Model_Ada.predict(X_test_scaled)

In [34]:
accuracy_base_s = accuracy_score(y_test,y_pred_base_scaled)
print(accuracy_base_s)

0.49440894568690097

In [35]:
param_grid = {
    'n_estimators': [50, 100, 200],
    'learning_rate': [0.01, 0.1, 1.0]
}

In [36]:
Ada_hpt = AdaBoostClassifier(random_state=42)

In [37]:
grid = GridSearchCV(Ada_hpt, param_grid, cv=3, scoring="accuracy", n_jobs=-1)
grid.fit(X_train, y_train)

In [38]:
y_pred_best = grid.predict(X_test)

In [39]:
accuracy_best = accuracy_score(y_test,y_pred_best)
print(accuracy_best)

0.9552715654952076

In [40]:
print("Best Params:", grid.best_params_)

Best Params: {'learning_rate': 0.1, 'n_estimators': 200}